.navbar{
    background-color: #eeeeee5d;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top:0;
    width:100%
}
.navbar ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding:0;
}
.linkContainer{
    display: inline-block;
}
.navbar ul .linkContainer li , .cartIcon , .listIcon{
    width:fit-content;
    padding: 10px;
    margin:0px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
}
.navbar ul li:hover {
    background-color: #EEE;
}
.navbar ul li a{
    all: unset;
}
.navbar ul li button.register{
    all: unset;
    background-color: white; 
    padding:3px;
    margin:0px;
    border-radius:0px 50px 50px 0px ;
}

.navbar ul li button.login{
    all: unset;
    padding:3px;
    /* color:white; */
    background-color: rgb(19, 255, 19);;
    border-radius: 50px 0 0  50px ;
}
.navbar ul li.btn:hover{
    background-color: transparent;
}
.listIcon{
    display: none !important;
}
/* .linkList{
    width:200px;
    position :absolute;
    right:-190px;
    right:0px;
    background-color: red;
    

} */
/* .linkListContainer{
    text-decoration: none;
    display:block !important
} */
/* .linkListContainer a{
    width:100% !important;
    display:block !important
} */
@media (min-width:270px) and (max-width:560px){
    .listIcon{
        display: inline-block !important;
        
    }
    .linkContainer{
        display: none !important;

    }
    .cartIcon{
        display: none;
    }
}